
{% include "store/base.html" %}

{% load static %}

{% load i18n %}

{% load crispy_forms_tags %}



{% block content %}

    <style>


        body{


            background-color: gray;

        }



    </style>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout" dir="auto">

        <p> 

            {% blocktranslate %}We've emailed you instructions for setting your password.{% endblocktranslate %}

            {% blocktranslate %}Please check your email.{% endblocktranslate %}


        </p>

    </div>



{% endblock %}

