
{% include "store/base.html" %}

{% load static %}

{% load i18n %}

{% load crispy_forms_tags %}



{% block content %}

    <style>


        body{


            background-color: gray;

        }



    </style>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout" dir="auto">

        <h3> {% trans 'Password reset complete' %} </h3>

        <hr>

        <p> {% trans 'Your password has been set. You may proceed to login' %} </p>

        <a href="{% url 'my-login' %}" class="btn btn-primary my-2"> {% trans 'Login' %} </a>


    </div>


{% endblock %}


