
{% include "store/base.html" %}

{% load static %}

{% load i18n %}

{% load crispy_forms_tags %}



{% block content %}

    <style>


        body{


            background-color: gray;

        }



    </style>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout" dir="auto">

        <h3> {% trans 'Password reset' %} </h3>

        <hr>

        <p> {% blocktranslate %}Forgotten your password? Enter your email address below, 
            
            and we'll email instructions for setting a new one.{% endblocktranslate %}

        </p>


        <form method="post">

            {% csrf_token %}

            {{form|crispy}}

            <br>

            <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2"> {% trans 'Send password reset link' %} </button>


        </form>


    </div>



{% endblock %}

