{% include "store/base.html" %}

{% load static %}

{% load i18n %}

{% load crispy_forms_tags %}



{% block content %}

    <style>


        body{


            background-color: gray;

        }



    </style>

    <body>

        <br>

        <div class="container bg-white shadow-md p-5 form-layout" dir="auto">

            <h3> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; {% trans 'Manage shipping' %} </h3>

            <p> {% trans 'Please fill in your shipping address.' %} </p>

            <hr>

            <br>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                {{form.full_name|as_crispy_field}}


                <br> 


                {{form.email|as_crispy_field}}

                <br> 

                {{form.address1|as_crispy_field}}

                <br>


                {{form.address2|as_crispy_field}}


                <br>

                {{form.city|as_crispy_field}}


                <br>


                {{form.state|as_crispy_field}}


                <br>




                {{form.zipcode|as_crispy_field}}


                <br>


                <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2"> {% trans 'Update shipping address' %} </button>



            </form>



        </div>



    </body>

    <br> <br>


{% endblock %}

